* {background-color: rgba(255, 208, 0, 0.781)}
.table
{
	display:table;
	border-collapse:separate;
	border-spacing:2px;
}
.thead
{
	display:table-header-group;
	color:white;
	font-weight:bold;
	background-color:blue;
}
.tbody
{
	display:table-row-group;
}
.tr
{
	display:table-row;
}
.td
{
	display:table-cell;
	border:1px solid black;
	padding:1px;
}
.tr.editing .td INPUT
{
	width:100px;
}
h1 {
	color:rgb(0, 255, 225);
	font-family: fantasy;
}
h4{
	color: rgb(173, 165, 253);
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-variant: small-caps;
	font-weight: bolder;
}

p {
	white-space: pre;
	color:rgb(209, 10, 199);
	font-family: 'Courier New', Courier, monospace, sans-serif;
	size: 0cqh;
  }