* {background-color: rgba(255, 255, 255, 0.447);
	color: rgb(249, 187, 0) }

/*.table
{
	display:table;
	border-collapse:separate;
	border-spacing:2px;
}
.thead
{
	display:table-header-group;
	color:white;
	font-weight:bold;
	background-color:rgb(4, 255, 0);
}
.tbody
{
	display:table-row-group;
}
.tr
{
	display:table-row;
}
.td
{
	display:table-cell;
	border:1px solid black;
	padding:1px;
}
.tr.editing .td INPUT
{
	width:100px;
}*/
h1 {
	color:rgb(255, 149, 0);
	font-family: fantasy;
}
h4{
	color: rgb(239, 179, 191);
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-variant: small-caps;
	font-weight: bolder;
}

p {
	white-space: pre;
	color:rgba(209, 10, 199, 0.032);
	font-family: 'Courier New', Courier, monospace, sans-serif;
  }

h5 {
	color:rgb(0, 251, 255);
}


input[type=text], select {
	width: 100%;
	padding: 4px 20px;
	margin: 2px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
  }
  
input[type=number], select {
	width: 100%;
	padding: 4px 20px;
	margin: 2px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 1px;
	box-sizing: border-box;
  }
  
input[type=submit] {
	width: 30%;
	background-color: forestgreen;
	display: inline-block;
	color: wheat;
	padding: 4px 20px;
	margin: 2px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }