* {background-color: rgb(255, 255, 255);
	color: rgb(249, 187, 0) }

/*.table
{
	display:table;
	border-collapse:separate;
	border-spacing:2px;
}
.thead
{
	display:table-header-group;
	color:white;
	font-weight:bold;
	background-color:rgb(4, 255, 0);
}
.tbody
{
	display:table-row-group;
}
.tr
{
	display:table-row;
}
.td
{
	display:table-cell;
	border:1px solid black;
	padding:1px;
}
.tr.editing .td INPUT
{
	width:100px;
}*/
h1 {
	color:rgb(64, 255, 0);
	font-family: fantasy;
}
h3{
	color: rgb(239, 179, 191);
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-variant: small-caps;
	font-weight: bolder;
}

p {
	white-space: pre;
	color:rgba(209, 10, 199, 0.032);
	font-family: 'Courier New', Courier, monospace, sans-serif;
  }

h5 {
	color:rgb(148, 13, 13);
}
